@charset "utf-8";

/*
Sidney. A Business Theme for Drupal 6.x
*/


@media screen {

/* STRUCTURE */
html {
	min-height: 101%;
}
#header, #masthead, #frontpage-content, #page-content, #footer {
	width: 100%;
}
.wrapper {
	width: 990px;
	margin: 0 auto;
	overflow: hidden;
}
.cols-1 {
	width: 100%;
	clear: left;
}
.cols-2 {
	width: 495px;
	float: left;
}
.cols-3 {
	width: 330px;
	float: left;
}
.cols-content {
	width: 660px;
	float: left;
}
.cols-sidebar {
	width: 330px;
	float: left;
}
.block {
	padding: 10px;
	clear: both;
	overflow: hidden;
}

/* TYPOGRAPHY */
body {
	font: 13px/18px arial, sans-serif;
	color: #444;
}
p {
	margin: 0;
	padding: 0 0 18px;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 9px 0;
}
.nav {
	margin: 0;
	padding: 0;
}
.nav li {
	margin: 0 20px 0 0;
	padding: 0;	
	display: inline;
}

/* STYLE */
.wrapper {
	margin: 20px auto;
}





} /* END OF MEDIA RULE */